<main class="user-show__main">
  <section class="profile">
    <div class="user-detail">
      <div class="user-detail__box">
        <div class="user-detail__box--photo">
          <%= image_tag "#{@user.icon}" %>
        </div>
        <div class="user-detail__box--name">
          <%= @user.name %>
        </div>
      </div>
    </div>
    <div class="user-description">
      <p>よろしくお願いします</p>
    </div>
    <div class="user-recruitment-animals">
      <div class="user-recuruitment-animals__box">
        <!--タグ-->
        <ul class="tab-group">
          <li class="tab is-active">里親募集中の子達</li>
          <li class="tab">募集取引メッセージ</li>
        </ul>
        <!--里親募集中タグの中身-->
        <ul class="tab-contents">
          <li class="giving-animals is-show">
            <% @animals.each do |animal| %>
              <%= link_to animal_path(animal.id), class: "giving-animals--link" do %>
                <div class="giving-animals--link__animal">
                  <div class="giving-animals--link__animal--photo">
                    <%= image_tag "#{animal.images[0].image_url}" %>
                  </div>
                  <div class="giving-animals--link__animal--content">
                    <div class="giving-animals--link__animal--content--name">
                      <%= animal.name %>
                    </div>
                    <% if animal.gender.id == 1 %>
                    <div class="giving-animals--link__animal--content--male">
                      <i class="fas fa-mars"></i>
                    </div>
                    <% elsif animal.gender.id == 2%>
                    <div class="giving-animals--link__animal--content--female">
                      <i class="fas fa-venus"></i>
                    </div>
                    <% else %>
                    <div class="giving-animals--link__animal--content--unknown">
                      <%= animal.gender.name%>
                    </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <%end%>
          </li>
          <!--取引メッセージ有り-->
          <li class="giving-animals">
            <% if current_user.id == @user.id %>
              <div class="giving-animals__messages ">
                <% @rooms.each do |room| %>
                  <%=link_to animal_room_path(animal_id: room.animal_id, id: room.id), class: "giving-animals__messages__link" do%>
                    <% if current_user.id == room.users[0].id %>
                      <div class="giving-animals__messages__link--message">
                        <div class="giving-animals__messages__link--message--from">
                          <div class="giving-animals__messages__link--message--from--icon">
                            <%= image_tag "#{room.users[1].icon}" %>
                          </div>
                          <div class="giving-animals__messages__link--message--from--name">
                            <%= room.users[1].name %>
                            <% if room.status_id == 1 %>
                              <span class="adopt-status">
                                不成立
                              </span>
                            <% elsif room.animal.taker_id == current_user.id %>
                              <span class="adopt-status">
                                成立
                              </span>
                            <% end %>
                          </div>
                        </div>
                        <div class="giving-animals__messages__link--message--content">
                          <% if Message.new_message(room.id) %>
                            <div class="giving-animals__messages__link--message--content__new">
                              <%= Message.new_message(room.id).content %>
                            </div>
                            <div class="giving-animals__messages__link--message--content__time">
                              <%= time_ago_in_words(Message.new_message(room.id).created_at)%>
                            </div>
                          <%else%>
                            <p>まだメッセージのやり取りは有りません</p>
                          <% end %>
                        </div>
                      </div>
                    <% else %>
                      <div class="giving-animals__messages__link--message">
                        <div class="giving-animals__messages__link--message--from">
                          <div class="giving-animals__messages__link--message--from--icon">
                            <%= image_tag "#{room.users[0].icon}" %>
                          </div>
                          <div class="giving-animals__messages__link--message--from--name">
                            <%= room.users[0].name %>
                            <% if room.status_id == 1 %>
                              <span class="adopt-status">
                                不成立
                              </span>
                            <% elsif room.status_id == 0 %>
                              <span class="adopt-status">
                                成立
                              </span>
                            <% end %>
                          </div>
                        </div>
                        <div class="giving-animals__messages__link--message--content">
                          <% if Message.new_message(room.id) %>
                            <div class="giving-animals__messages__link--message--content__new">
                              <%= Message.new_message(room.id).content %>
                            </div>
                            <div class="giving-animals__messages__link--message--content__time">
                              <%= time_ago_in_words(Message.new_message(room.id).created_at)%>
                            </div>
                          <%else%>
                            <p>まだメッセージのやり取りは有りません</p>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="account-btns">
      <div class="account-btns__edit">
        <%= link_to "#" do%>
          <button>EDIT ACCOUNT</button>
        <% end %>
      </div>
      <div class="account-btns__delete">
        <%= link_to user_registration_path, method: :delete do%>
          <button>DELETE ACCOUNT</button>
        <% end %>
      </div>
    </div>
  </section>
</main>
<%= render "shared/footer"%>
