<div class="animal-images__image-left">
  <%= image_tag "#{@animal.images[0].image_url}"%>
</div>
<div class="animal-images__image-right">
  <div class="animal-images__image-right__top">
    <%= image_tag "#{@animal.images[1].image_url}"%>
    <%= image_tag "#{@animal.images[2].image_url}"%>
  </div>
  <div class="animal-images__image-right__bottom">
    <%= image_tag "#{@animal.images[3].image_url}"%>
    <%= image_tag "#{@animal.images[4].image_url}"%>
  </div>
</div>