<main class="new-animal-main">
  <section class="new-animal-container">
    <div class="animal-container">
      <div class="animal-container--header">
        <h2>ペットの情報を入力</h2>
      </div>
      <%= form_with(model: @animal, class: "animal-form", id: "new_animal", local: true) do |f| %>
        <div class="animal-content">
          <h3 class="animal-form__head">画像
            <span class="form-require">必須</span>
          </h3>
          <p>最大5枚までアップロードできます</p>
          <div class="post__drop__box__container">
            <div class="prev-content">
              <% @animal.images.each do |image|%>
                <div class="preview-box">
                  <div class="upper-box">
                    <%= image_tag image.image.url, width: "112", height: "112", alt: "preview"%>
                  </div>
                  <div class="lower-box">
                    <div class="update-box">
                      <label class="edit_btn">編集</label>
                    </div>
                    <div class="delete-box"><span>削除</span></div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="label-content">
              <%= f.label :"images_attributes_#{@animal.images.length}_image", class: "label-box", id: "label-box--#{@animal.images.length}" do%>
                <pre class="label-box__text-visible">クリックしてファイルをアップロード</pre>
              <% end %>
            </div>
            <div class="hidden-content">
              <%= f.fields_for :images do|image| %>
                <%= image.file_field :image, class: "hidden-field" %>
                <%= image.check_box:_destroy , class: "hidden-checkbox" %>
              <% end %>
              <% @animal.images.length.upto(4) do |i| %>
                <input name="animal[images_attributes][<%= "#{i}"%>][image]" id="animal_images_attributes_<%= "#{i}" %>_image" class="hidden-field" type="file" >
              <% end %>
            </div>
          </div>
        </div>
        <div class="animal-form__content">
          <div class="animal-form__content--group">
            <%= f.label :name, "名前"%>
            <span>必須</span>
            <div class="animal-form__content--group__name">
              <%= f.text_field :name %>
            </div>
          </div>
          <div class="animal-form__content--group">
            <%= f.label :description, "説明" %>
            <span>必須</span>
            <div class="animal-form__content--group__text">
              <%= f.text_area :description %>
            </div>
          </div>
        </div>
        <div class="animal-form__content clearfix">
          <h3>詳細情報</h3>
          <div class="animal-form__content--group">
            <%= f.label :category_id, "カテゴリー" %>
            <span>必須</span>
            <div class="animal-form__content--group__select">
              <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: '---' %>
            </div>
          </div>
          <div class="animal-form__content--group">
            <%= f.label :prefecture_id, "エリア" %>
            <span>必須</span>
            <div class="animal-form__content--group__select">
              <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '---'%>
            </div>
          </div>
          <div class="animal-form__content--group">
            <%= f.label :gender_id, "性別" %>
            <span>必須</span>
            <div class="animal-form__content--group__select">
              <%= f.collection_select :gender_id, Gender.all, :id, :name, include_blank: '---' %>
            </div>
          </div>
        </div>
        <div class="animal-form__content submit-box">
          <%= f.submit "編集する", disable_with: "Save...", class: "animal-edit__submit" %>
          <%= link_to "もどる", root_path %>
        </div>
      <% end %>
    </div>
  </section>
</main>