<main class="animals-main">
  <div class="search_view">
    <%= form_with(scope: :search, url: search_animals_path, local: true, method: :get, class: "search-form" ) do |f| %>
      <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: 'カテゴリを選択' %>
      <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '都道府県を選択'%>
      <%= f.text_field :name, placeholder: "投稿を検索する", class: "search-input"%>
      <%= f.submit "検索", class: "search-btn"%>
    <% end %>
  </div>
  <div class="animals__container">
    <div class="animals__container__content">
      <% @animals.each do |animal| %>
        <%= link_to "animals/#{animal.id}", class: "animal-show__link" do%>
          <div class="animal-show__link--image">
            <% if animal.taker_id.present?%>
              <%= image_tag "#{animal.images[0].image_url}", size: '240x160'%>
              <div class="animal-show__link--image-prefecture">
                <%= animal.prefecture.name %>
              </div>
              <div class="buied_item"></div>
            <% else%>
              <%= image_tag "#{animal.images[0].image_url}", size: '240x160'%>
              <div class="animal-show__link--image-prefecture">
                <%= animal.prefecture.name %>
              </div>
            <% end %>
          </div>
          <div class="animal-show__link--name">
            <%= animal.name%>
            <% if animal.gender.id == 1 %>
            <div class="animal-show__link--name--gender--male">
              <i class="fas fa-mars"></i>
            </div>
            <% elsif animal.gender.id == 2%>
            <div class="animal-show__link--name--gender--female">
              <i class="fas fa-venus"></i>
            </div>
            <% else %>
            <div class="animal-show__link--name--gender--unknown">
              <%= animal.gender.name%>
            </div>
            <% end %>
          </div>
          <div class="animal-show__link--username">
            <%= animal.giver.name%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</main>
<%= render 'shared/footer'%>