<main class="new-animal-main">
  <section class="new-animal-container">
    <div class="animal-container">
      <div class="animal-container--header">
        <h2>ペットの情報を入力</h2>
      </div>
      <%= form_with(model: @animal, class: "animal-form", id: "new_animal", local: true) do |f| %>
        <div class="animal-content">
          <h3 class="animal-form__head">画像
            <span class="form-require">必須</span>
          </h3>
          <p>最大5枚までアップロードできます</p>
          <div class="post__drop__box__container">
            <div class="prev-content"></div>
            <div class="label-content">
              <label for="animal_images_attributes_0_image" class="label-box" id="label-box--0">
                <pre class="label-box__text-visible">クリックしてファイルをアップロード</pre>
              </label>
            </div>
            <div class="hidden-content">
              <%= f.fields_for :images do |image| %>
                <%= image.file_field :image, class: "hidden-field"%>
                <input class="hidden-field" type="file" name="animal[images_attributes][1][image]" id="animal_images_attributes_1_image">
                <input class="hidden-field" type="file" name="animal[images_attributes][2][image]" id="animal_images_attributes_2_image">
                <input class="hidden-field" type="file" name="animal[images_attributes][3][image]" id="animal_images_attributes_3_image">
                <input class="hidden-field" type="file" name="animal[images_attributes][4][image]" id="animal_images_attributes_4_image">
              <% end %>
            </div>
          </div>
           <%= render partial: "/shared/error", locals: { key: :images} %>
        </div>

        <div class="animal-form__content">
          <div class="animal-form__content--group">
            <%= f.label :name, "名前"%>
            <span>必須</span>
            <div class="animal-form__content--group__name">
              <%= f.text_field :name %>
            </div>
            <%= render partial: "/shared/error", locals: { key: :name} %>
          </div>
          <div class="animal-form__content--group">
            <%= f.label :description, "説明" %>
            <span>必須</span>
            <div class="animal-form__content--group__text">
              <%= f.text_area :description %>
            </div>
            <%= render partial: "/shared/error", locals: { key: :description } %>
          </div>
        </div>

        <div class="animal-form__content clearfix">
          <h3>詳細情報</h3>
          <div class="animal-form__content--group">
            <%= f.label :category_id, "カテゴリー" %>
            <span>必須</span>
            <div class="animal-form__content--group__select">
              <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: '---' %>
            </div>
            <%= render partial: "/shared/error", locals: { key: :category_id} %>
          </div>
          <div class="animal-form__content--group">
            <%= f.label :prefecture_id, "エリア" %>
            <span>必須</span>
            <div class="animal-form__content--group__select">
              <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '---'%>
            </div>
            <%= render partial: "/shared/error", locals: { key: :prefecture_id} %>
          </div>
          <div class="animal-form__content--group">
            <%= f.label :gender_id, "性別" %>
            <span>必須</span>
            <div class="animal-form__content--group__select">
              <%= f.collection_select :gender_id, Gender.all, :id, :name, include_blank: '---' %>
            </div>
            <%= render partial: "/shared/error", locals: { key: :gender_id} %>
          </div>
        </div>

        <div class="animal-form__content submit-box">
          <%= f.submit "募集する", disable_with: "Save...", class: "animal-new__submit" %>
          <%= link_to "もどる", root_path %>
        </div>
      <% end %>
    </div>
  </section>
</main>
